@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #4D41C0;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #E5E5E5;
   /* background-image: url("assets/img/back.jpg"); 
    background-repeat: no-repeat, repeat;
    background-attachment: scroll, fixed;
    background-blend-mode: luminosity;
    height: 1000px;*/
}

a, a:hover {
  text-decoration: none;
  color: unset;
}